@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root{
    --cor-principal: #FBA81F;
    --cor-secundaria: #E46721;
    --fonte-principal: 'Lexend', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--fonte-principal);
}

.menu{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
   /* background-color: ; */
}

li{
    list-style-type: none;
}

.nome-logo{
    display: flex;
    align-items: center;
    font-family: var(--fonte-principal);
    font-size: 18px;
}

img{
    width: 15px;
    height: 15px;
    margin-left: 2rem;
    margin-right: 10px;
}

.home-cadastro{
    display: flex;
    gap: 20px;
    font-size: 15px;
}

.home, .cadastro{
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-family: var(--fonte-principal);
}

.home, .cadastro:hover{
    border: 2px solid var(--cor-secundaria);
}

input{
    margin-right: 5rem;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 200px;
}

/* FAIXA - MENU */

.parte-um {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    width: 100%;                   
    max-width: 1200px;
    margin: 0 auto; 
    padding: 20px;
    margin-top: 3rem;
}

.boas-vindas{
    flex: 1;                      
    max-width: 450px;
    font-size: 56px;
}

.image-home {
    flex: 1;
    display: flex;
    justify-content: flex-end;   
}

.image-home img {
    width: 100%;
    max-width: 380px;            
    height: auto;
}

span{
    color: var(--cor-secundaria);
    font-weight: 800;
}

button{
    margin-top: 2.5rem;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--cor-principal);
    background-color: var(--cor-secundaria);
    width: 150px;
    font-family: var(--fonte-principal);
    font-size: 15px;
    font-weight: 800;
    color: #ffff;
}

button a{
    text-decoration: none;
    color: inherit;
}

button:hover{
    background-color: #ffff;
    color: black;
}

/* PARTE DOIS */

.parte-dois{
    background-color: #F8F9FA;
}